body{
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}
#homesection{
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.HomeBar{
    display: flex;  
    border-bottom: 0.3px solid silver;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
ul.navigation{
    margin-right: 60px;
    display: flex;
    gap: 90px;
    list-style-type: none;
}

.homesection-mainpage{
    align-self: center;
    margin: auto;
}
.bigtext{
    font-size: 40px;
}   
#animated-text{
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    white-space: nowrap; 
    overflow: hidden; 
}
hr {
    border: none; 
    height: 1px; 
    background: linear-gradient(to right, transparent, white, transparent);
      
  }
#aboutsection{
    height: 100vh;
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.my-description{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.1) 50%, transparent 100%);
    text-align: center ;
    margin-bottom: 140px;
}
.aboutheading{
    margin-bottom: 5px;
    font-size: 30px;
    align-self: center;
}
.bio{
    align-self: center;
    font-size: 20px;
}
.projectsstart{
    text-align: center;
}
#myprojects{
    display: flex;
    gap: 35px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.ojtheapp{
    height: 80vh;
    width: 400px;
    font-size: 15px;
    margin-left: 20px;
    border: 0.3px solid silver;
    padding-left: 10px;

}

i{
    font-size: 100px;
    margin-right: 10px;
    margin-left: 20px;
}
i.devicon-github-original-wordmark {
    font-size: 30px;
}
.todowebapp{
    border: 0.3px solid silver;
    width: 400px;
    height: 80vh;
    padding-left: 10px;
}

.game{
    border: 0.3px solid silver;
    width: 400px;
    height: 80vh;
    padding-left: 10px;
}
.footer{
    text-align: center;
}
.bottom-navigation{
    display: flex;
    gap: 50px;
    align-items: center;
    height: 100px;
}
.bottom-about{
    margin-left: auto;
}
.bottom-project{
    margin-right: auto;
}
.socials{
    display: flex;
    text-align: center;
    gap: 30px;
    justify-content: center;
}
i.devicon-github-original{
    font-size: 25px;
    align-self: center;
}
.discord-icon{
    height: 30px;
    width: auto;
}
.linkedin-icon{
    height: 30px;
}
.x-icon:hover{
    filter: brightness(0) invert(1);
}
.discord-icon:hover{
    filter: brightness(0) invert(1);

}
.linkedin-icon:hover{
    filter: brightness(0) invert(1);

}
a {
    text-decoration: none;
    color: #ffffff; 
    transition: color 0.3s, font-size 0.3s;
  }
  
a:hover {
    color: #575757;
    font-size: 110%; 
  }

  
