body{
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}
.homesection{
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.HomeBar{
    display: flex;  
    border-bottom: 0.3px solid silver;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}
ul.navigation{
    margin-right: 60px;
    
    display: flex;
    gap: 90px;
    list-style-type: none;
}
.OJ-LOGO{
    margin-left: 50px;
}
.homesection-mainpage{
    align-self: center;
    margin: auto;
}
.animated-text{
    font-size: 80px;
}

